
body{
  background-color: #efefef;
  color: #000305;
  font-size: 87.5%;
  font-family: Arial, 'lucida sans Unicode';
  line-height: 1.5;
  text-align: left;
}

.body{
  margin: 0 auto;
  width: 70%;
  clear: both;
}

a{
  text-decoration: none;
}

a:link, a:visited{

}

a:hover, a:active{

}

.mainheader img{
  width: 40%;
  height: auto;
  margin: 2% 0;
}

.mainheader nav{
  background-color: #666;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainheader nav ul{
  list-style: none;
  margin: 10px auto;
}

.mainheader nav ul li{
  float: left;
  display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited{
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
  background-color: #cf5c3f;
  text-shadow: none;
}

.mainheader nav ul li a{
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.mainheader nav ul form{
  float: right;
  margin-top: 2px;
  margin-right: 8px;
  width: auto;
}

.mainheader nav ul form button{
  float: right;
  margin-top: 2px;
  margin-right: 8px;
  width: 50px;
  height: 30px;
  margin-left: 5px;
}

.registerlink{
  color: #42b0c6;
  float: right;
  font-size: 15px;
  font-style: oblique;
  margin-top: -21px;
  margin-right: 80px;
}

.mainContent{
  line-height: 25px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.content{
  width: 70%;
}

.topContent{
  background-color: #fff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 3% 5%;
  margin-top: 2%;
}

.bottomContent{
  background-color: #fff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 3% 5%;
  margin-top: 2%;
}

.topContent form {
  background-color: #00ff00;
  margin-right: 100%;
}

.topContent form button{
  background-color: #00ff00;
  margin-right: 100%;
  width: 70px;
}
